.frame1-voicedid{
    position: relative;
    left:5%;
    height:478px;
    width:90%;
    top:3%;
    background-color: #fff;
    border-radius:10px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.3);
    overflow: hidden;
}

.frame2-voicedid{
    position: relative;
    left:5%;
    height:700px;
    width:90%;
    top:6%;
    background-color: #fff;
    border-radius:10px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.3);
    overflow: hidden;
    overflow-y: scroll;
}

.frame3-voicedid{
    position: absolute;
    left:4.3%;
    height: 800px;
    width:92%;
    top:3%;
    background-color: #fff;
    border-radius:10px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.3);
    overflow: hidden;
    /*overflow-y: scroll;*/
}
.title-voicedid{
    position: absolute;
    /*font-size:24px;*/
    font-family:montserrategular;
    color:#4A4A4A;
    top:1.8%;
}


.table-voicedid{
    height:500px;
    margin-top:10px;
}
.table-view-voicedid{
    height:100%;
    margin-top:50px;
}

table{
    font-family:montserrategular;
    border-collapse: collapse;
    width: 100%;
    margin-top:0px;
    margin-left:10px;
}

.table-voicedid table td{
    font-size:14px;
    font-family:montserrategular;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    border-bottom: 1px solid #E3E3E3;
    text-align: left;
    color:#4A4A4A;
}
.table-voicedid tbody tr:hover{
    background-color:#EDEDEA;
    cursor: pointer;
}
.table-voicedid table .thead:hover{
    background-color:#fff;
}
.table-voicedid table th{
    font-family:montserratsemibold;
    font-size:13px;
    text-align: left;
    color:#f26f21;
    border-bottom: 1px solid #E3E3E3;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    border-collapse: collapse;
   
}
.table-view-voicedid table td{
    font-size:14px;
    font-family:montserrategular;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    border-bottom: 1px solid #E3E3E3;
    text-align: left;
    color:#4A4A4A;


}
.table-view-voicedid tbody tr:hover{
    background-color:#EDEDEA;
    cursor: pointer;
}
.table-view-voicedid table .thead:hover{
    background-color:#fff;
}
.table-view-voicedid table th{
    font-family:montserratsemibold;
    font-size:13px;
    text-align: left;
    color:#f26f21;
    border-bottom: 1px solid #E3E3E3;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    border-collapse: collapse;
}
.voicedid-close{
    position: absolute;
    left:97.2%;
    width:22px;
    height:22px;
    top:6px;
}

/*VOICEDID MODAL SECTION */
/*VOICEDID MODAL SECTION */
/*VOICEDID MODAL SECTION */
/*VOICEDID MODAL SECTION */
.rows-voice-info textarea:focus,input:focus,select:focus{
    outline: none;
    border:1px solid #f26f21;
    transition:all .96s ease-out;
}
.rows-voice-info input:focus{
    outline: none;
    border:1px solid #f26f21;
    transition:all .96s ease-out;
}




.add-voice-title{
    top:2.7%;
    left:2.9%;
    position: absolute;
    font-size:24px;
    font-family:montserrategular;
    color:#4A4A4A;
}
.add-voice-subtitle{
    position: absolute;
    font-size:12px;
    font-family:montserrategular;
    top:9%;
    left:3%;
    color:gray;
}
.add-voice-modal{
    background-color: #fff;
    height: 465px;
    width: 41%;
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.2);
    margin-top: 8%;
    margin-left:38.5%;
    position: relative;
    overflow: hidden;
}
.voice-modal-close{
    position: absolute;
    top:6px;
    left:95.5%;
    height: 20px;
    width:20px;
}
.rows-voice-info{
    position: relative;
    height:320px;
    width:100%;
    margin-top:70px;

}
.row1-voice-info{
    height:320px;
    width:50%;
    display:inline-block;
    position: absolute;
}
.row2-voice-info{
    height:320px;
    width:50%;
    margin-left:50%;
    display:inline-block;
    position: absolute;
}
.row1-voice-info select{
    height:37px;
}
.voice-input{
    margin-left:3%;
    display: block;
    width:93.5%;
    margin-top:16px;
    position: relative;
}
.voice-input input{
    width:100%;
    height:34px;
    border-radius: 5px;
    font-family: montserrategular;
    font-size:14px;
    margin-top:6px;
}
.voice-input textarea{
    width:98%;
    height:189px;
    border-radius: 5px;
    font-family: montserrategular;
    font-size:14px;
    margin-top:6px;
    resize: none;
}
.voice-input label{
    font-size:12px;
    color:gray;
    font-family: montserrategular;
}
.btn-voice{
    margin-top:20px;
    margin-left:59.5%;
    position: relative;
    height: 42px;
    width:40%;
    
}
.btn-voice button{
    background-color:#f26f21;
    border-radius:4px;
    color:#fff;
    box-shadow: 0 3px 9px rgba(0,0,0,0.3);
    border: 0px;
    font-family:montserrategular;
    font-size:14px;
    height:100%;
    width:44%;
    margin-left:2%;


}
.btn-voice .cancel{
    background-color: #C9C9C9;
    color:black;
}

/*VOICEDID MODAL SECTION */
/*VOICEDID MODAL SECTION */
/*VOICEDID MODAL SECTION */
/*VOICEDID MODAL SECTION */
.rows-voice-info textarea:focus,input:focus,select:focus{
    outline: none;
    border:1px solid #f26f21;
    transition:all .96s ease-out;
}
.rows-voice-info input:focus{
    outline: none;
    border:1px solid #f26f21;
    transition:all .96s ease-out;
}




.update-voice-title{
    top:2.7%;
    left:2.9%;
    position: absolute;
    font-size:24px;
    font-family:montserrategular;
    color:#4A4A4A;
}
.update-voice-subtitle{
    position: absolute;
    font-size:12px;
    font-family:montserrategular;
    top:9%;
    left:3%;
    color:gray;
}
.update-voice-modal{
    background-color: #fff;
    height: 465px;
    width: 41%;
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.2);
    margin-top: 13.4%;
    margin-left:38.5%;
    position: relative;
    overflow: hidden;
}
.voice-modal-update-close{
    position: absolute;
    top:6px;
    left:95.5%;
    height: 20px;
    width:20px;
}
.rows-voice-update-info{
    position: relative;
    height:320px;
    width:100%;
    margin-top:70px;

}
.row1-voice-update-info{
    height:320px;
    width:50%;
    display:inline-block;
    position: absolute;
}
.row2-voice-update-info{
    height:320px;
    width:50%;
    margin-left:50%;
    display:inline-block;
    position: absolute;
}
.row1-voice-update-info select{
    height:37px;
}
.voice-update-input{
    margin-left:3%;
    display: block;
    width:93.5%;
    margin-top:16px;
    position: relative;
}
.voice-update-input input{
    width:100%;
    height:34px;
    border-radius: 5px;
    font-family: montserrategular;
    font-size:14px;
    margin-top:6px;
}
.voice-update-input textarea{
    width:98%;
    height:189px;
    border-radius: 5px;
    font-family: montserrategular;
    font-size:14px;
    margin-top:6px;
    resize: none;
}
.voice-update-input label{
    font-size:12px;
    color:gray;
    font-family: montserrategular;
}
.btn-voice-update{
    margin-top:20px;
    margin-left:59.5%;
    position: relative;
    height: 42px;
    width:40%;
    
}
.btn-voice-update button{
    background-color:#f26f21;
    border-radius:4px;
    color:#fff;
    box-shadow: 0 3px 9px rgba(0,0,0,0.3);
    border: 0px;
    font-family:montserrategular;
    font-size:14px;
    height:100%;
    width:44%;
    margin-left:2%;


}
.btn-voice-update .cancel{
    background-color: #C9C9C9;
    color:black;
}

     .normal {
         background-color: #0080008c;
         color: #fff;
         padding: 3px 10px;
         }
         .open_ {
         background-color: #f96e21;
         color: #fff;
         padding: 3px 10px;
         }
         .close_ {
         background-color: red;
         color: #fff;
         padding: 3px 10px;
         }
         .title-voicedid {
                 position: relative;
         width: 98%;
         border-bottom: 1px solid #000;
         }
         .text_area {
         height: 30px;
         border: 1px solid #0000002b;
         width: 98%;
         padding: 23px 10px;
         }
         .line-break {
         border-bottom: 1px solid #00000021;
         margin: 22px 9px;
         }
         .cls_button {
            position: absolute;
            top: -2%;
            right: 0px;
         }
         .cls_button .close_button {
         margin: 30px 0;
         padding: 0 2em;
         padding: 12px 34px;
         background-color: #f26f21;
         border-radius: 25px;
         color: #fff;
         border: 1px solid #fff;
         }
         .close_button{
             cursor: pointer;
         }
         .icon-sec {
         float: left;
         width: 7%;
         margin: 10px 0;
         clear: both;
         }
         .icon-sec i {
         font-size: 60px;
         margin: 0px 7px;
         color: #0000004d;
         }
         .test {
         height: 100%;
         margin-top: 30px;
         margin-left: 15px;
         margin-right: 15px;
         }
         .type-reply {
         float: left;
         width: 92%;
         padding: 10px 16px;
         }
         .reply-type-area {
         width: 90%;
         float: right;
         margin: 0px  30px;
         }
         .reply-type-area textarea {
         height: 100px;
         }
         .reply-type-area .multiple.options {
    width: 40%;
}

.reply-type-area .accept-terms {
    margin: 10px 0;
}

.reply-type-area .submit-button {
    float: right;
    padding: 0px 0;
    margin-right: 30px;
    width: 100%;
    clear: both;
}

.submit-button button {
    margin: 30px 0;
    padding: 0 2em;
    padding: 12px 34px;
    background-color: #f26f21;
    border-radius: 25px;
    color: #fff;
    float: right;
    border: 1px solid #fff;
}

.reply-sec {
    clear: both;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 5%;
}

.last-reply-profile {
    clear: both;
    border-top: 1px solid #0000002b;
}

/*.type-reply p:nth-child(2) {*/
/*    font-size: 14px;*/
/*    margin: 0 0;*/
/*}*/

/*.type-reply p {*/
/*    margin-bottom: 5px;*/
/*}*/

.last-reply-sec {
    clear: both;
}

.last-rep {
    clear: both;
    float: right;
    width: 87%;
    margin-right: 65px;
}

.type-reply .icon {
    margin-right: 10px;
}
.sub-head {
   
    font-size: 16px;
}

.sub-head .icon {
    margin-right: 10px;
}